/*** NORMALIZING ***/

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

body {
    max-width: 1440px;
    min-width: 320px;
    margin: 0 auto;
    background-color: #000000;
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
}

.container, .container-grey {
    width: 100%;
    margin: 0 auto;
}
.container-grey {
    background: #C0C0C0;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    z-index: 2;
    background: #000000;
}

.header__logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header__img img {
    width: 50px;
}

.header__title {
    color: #D4AF37;
}

.header__main-title {
    font-family: "Cinzel", serif;
    font-size: 18px;
    font-weight: 600;
    margin-left: 3px;
}

.header__subtitle {
    font-family: "Lora", serif;
    font-size: 14px;
    margin-top: 5px;
}

.header__hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 20px;
    height: 16px;
    margin: 0 10px 0 0px;
    position: relative;
}

.header__hamburger-bar {
    display: block;
    width: 100%;
    height: 2px;
    background: #D4AF37;
}

#hamburger-bar-1,
#hamburger-bar-2,
#hamburger-bar-3 {
    transition: all 0.3s ease;
}

#hamburger-bar-1.clicked {
    transform: rotate(-45deg) translate(-7px, 6px);
}

#hamburger-bar-2.clicked {
    opacity: 0;
}

#hamburger-bar-3.clicked {
    transform: rotate(45deg) translate(-4px, -3px);
}

.menu {
    position: fixed;
    top: 50px;
    left: -120%;
    width: 100%;
    height: calc(100vh - 50px);
    background: #D4AF37;
    transition: all 0.3s ease;
    z-index: 999;
    pointer-events: auto;
}

.menu--active {
    left: 0;
}

.header__menu-list {
    padding: 20px;
}

.header__menu-item {
    margin-bottom: 10px;
}

.header__menu-link {
    color: #000000;
    text-decoration: none;
}

/*** HERO ***/
.hero {
    background-image: url(../img/hero_vertical.webp);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: calc(100vh - 0px);
    padding: 65px 25px;


    display: flex;
    flex-direction: column;
    /* сверху вниз */
    justify-content: space-between;
    /* слоган у верхнего края, кнопка у нижнего */
    /* padding: 40px 20px; */
}

.hero__slogan {
    font-size: clamp(22px, 4vw, 48px);
    color: #C0C0C0;
    line-height: 1.3;
}

.golden {
    color: #D4AF37;
    font-size: clamp(22px, 5vw, 40px);
}

.hero_cta-btn {
    align-self: flex-end;
    width: clamp(200px, 30%, 250px);
    height: 45px;
    border-radius: 5px;
    background: #C0C0C0;
    color: #000;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;
}

.hero_cta-btn:hover {
    background: #B87333;
}

/*** INTRO ***/
.intro {
    width: 75%;
    margin: 0 auto;
    padding: 50px 0;
    height: calc(100vh - 50px);
    color: #000000;
}

.intro p {
    margin-top: 60px;
    font-size: 20px;
    line-height: 1.1;
}